* { 
  box-sizing: border-box;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  background-image: url('/images/bg-mobile.svg');
  background-color: hsl(257, 40%, 49%);
  background-repeat: no-repeat;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #fff;
}
main {
  height: 100vh;
}
h1, h2 {
  font-family: 'Poppins', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 1Fr);
  grid-template-rows: auto auto auto 20%;
}

.section1__header {
  margin: 2rem 2rem 1rem;
}
.section1__header--img {
  width: 50%;
}

.mockup {
  width: 80%;
  display: block;
  margin: 2rem auto;
}
.section2 {
  width: 80%;
  margin: 1rem auto;
}
.section2 h2 {
  font-size: 1.3rem;
  line-height: 2.2rem;
  padding: 1rem;
  font-weight: 400;
  text-align: center;
}
.section2--paragraph {
  line-height: 1.5rem;
  text-align: center;
  padding: 1rem;

}
button {
  display: block;
  margin: 1.5rem auto;
  color:hsl(257, 40%, 60%);
  border: 2px solid;
  background-color:#fff;
  border-radius: 18px;
  padding: 0.6rem 4rem;
  font-size: 0.8rem;
}
.section3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-link {
  width: 9%;
  color: #fff;
  margin-left: 0.6rem;
}
.fb, .tw, .in {
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 0.3rem;
}
/** 
** Footer
**/
.attribution { 
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 0.5rem;
  padding: 0.5rem;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

@media screen and (min-width : 450px) {
  .social-link {
    width: 7%;
  }
}

@media screen and (min-width: 550px) {
  .mockup {
    width: 70%;
  }
  .section1__header {
    margin: 2rem 5rem 1rem;
  }
  .section2 {
    width: 60%;
    margin: 0.2rem auto;
  }
}
@media screen and (min-width: 650px) {
  body {
    background-size: cover;
  }
  .container {
    grid-template-columns: repeat(2, 1Fr);
    grid-template-rows: auto auto auto;
    width: 100%;
    margin: 10rem auto 9rem auto;
  }
  .section1 {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .section1__header {
    margin: 2rem;
  }
  .mockup {
    width: 75%;
  }
  .section2 {
    grid-column-start: 2;
    grid-row-start: 1;
    width: 100%;
  }
  .section2 h2 {
    text-align: left;
  }
  .section2--paragraph {
    text-align: left;
  }
  .section3 {
    grid-column-start: 2;
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
  }
  button {
    margin: 0;
    margin-left: 1rem;
  }
  .social-link {
    width: 8%;
  }
}
@media screen and (min-width: 800px) {
  .section2 {
    margin: 3rem auto;
  }
  .container {
    margin: 8rem auto 9rem auto;
  }

}

@media screen and (min-width: 1024px ) {
  .section2 {
    margin: 5rem 0;
    align-self: center;
    width: 500px;
  }
  .mockup {
    width: 80%;
  }
  .social-link {
    width: 6%;
  }
  .section1__header {
    width: 60%;
    margin: 3rem;
  }
  .container {
    margin: 6rem auto 9rem auto;
  }
  .section2--paragraph {
    font-size: 1.1rem;
  }
  .section2 h2 {
    font-size: 2rem;
  }
  .section3 {
    width: 530px;
  }
}
@media screen and (min-width: 1440px) {
  .mockup {
    width: 70%;
  }
  .section2--paragraph {
    font-size: 1.3rem;
  }
  .section1__header {
    margin: 2rem 2rem 4rem 6rem;
  }
}